<nav class='navbar-lite navbar-side' role='navigation' id='litegray-bg'>
  <div class='container-fluid'>
    <div class='sidebar-collapse'>
      <ul class='nav' id='main-menu'>
        <li>
          <%= link_to inline_svg('main_logo.svg', size: '128px * 96px', preserve_aspect_ratio: 'xMaxYMax meet'), root_path %>
        </li>
        <hr>
        <li>
          <%= link_to assistances_path do %>
          <h5>
            <strong>ASSISTENZA</strong>
          </h5>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
