<div class='text-centered'>
  <%= inline_svg('main_logo.svg', size: '128px * 128px', preserve_aspect_ratio: 'xMaxYMax meet') %>
  <br>
  Agile e leggero gestionale per la creazione e stampa di documenti da web.
  <br>
  Basato su tecnologia Ruby On Rails
  <hr>
  <dl class="dl-inline">
    <dt>Autore:</dt>
    <dd>Davo Davosky</dd>
    <dt>Anno:</dt>
    <dd>2019</dd>
    <dt>Link:</dt>
    <dd><a href="MAILTO:davodavosky@gmail.com">davodavosky</a></dd>
    <dt>Ufficio:</dt>
    <dd>CESI CGIL Friuli Venezia Giulia</dd>
  </dl>
</div>
