<div class="text-centered">
    <%= link_to inline_svg('main_logo.svg', size: '256px * 256px', preserve_aspect_ratio: 'xMaxYMax meet'), root_path %>
    <h5>
      verba volant, scripta manent
    </h5>
</div>
